html {
   background: url(images/fon.jpg) no-repeat center center fixed;
   /*background: url(custom_fon.png) fixed;*/
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   overflow-y: scroll;
   max-width: 100%;
   width: 100%;
}

