body {
    background: url(images/fon_1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow-y: scroll;
    max-width: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
}

.brand_name {
    /*color: aqua;
	font-size: 50px;
	font-style:oblique;
	font-family: cursive;
	text-shadow: -5px 5px 0px blue,
                 -7px 7px 0px darkturquoise,
                 -9px 9px 0px black;*/
    /*background-color: darkturquoise;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
font-size: 50px;*/
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    font-size: 40px;
    color: darkturquoise;
}

.logo_img {
    width: 6%;
    margin-right: 3px;
    margin-top: 5px;
    transition: all 0.5s ease-in-out 0s;
}

.logo_img:hover {
    width: 6%;
    margin-right: 3px;
    transform: rotateY(360deg);
    margin-top: 5px;
    transition: all 0.6s ease-in-out 0s;
}

.container-fluid {
    z-index: 1;
}

.menu {
    border: 0;
    background: url(images/small-back.png);
    box-shadow: 0 0 70px black;
    font-size: 25px;
    padding-top: 10px;
    z-index: 1;
    padding-bottom: 10px;
    border-radius: 0 0 7px 7px;
}

.navbar-nav > li.active-link > a {
    color: darkturquoise;
    border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav > li > a {
    color: darkturquoise;
}

.navbar-default .navbar-nav > li > a:hover {
    text-shadow: 3px 3px 15px darkturquoise;
    border-bottom: 3px solid red;
    color: darkturquoise;
}

.logo {
    width: 5%;
}

.footer_style {
    background: transparent;
    box-shadow: none;
    border: none;
}

.footer_style_1 {
    margin-top: 300px;
    background: transparent;
    padding-bottom: 20px;
    border: none;
    border-top: 2px solid aqua;
    border-bottom: 2px solid aqua;
    box-shadow: none;
    width: 90%;
    margin-left: 5%;
}

.act_lin {
    border-bottom: 2px solid red;
    color: darkturquoise;
    background: transparent;
    background-color: transparent;
}

.welcome_text {
    font-size: 40px;
    max-width: 70%;
    font-family: 'Roboto', sans-serif;
    color: darkturquoise;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    margin-left: 15%;
    margin-top: 20%;
    text-align: center;
    border: 0 3 3 0;
}
.car_set{
    height: 20%;
}


/*.social_ic {
    padding-top: 10px;
    margin-left: auto;
    float: right;
}*/

.social_ic > li:hover {
    transition: all 0.2s ease-out 0s;
    transform: scale(0.83);
}

.second_menu {
    border: 1px solid red;
    margin-top: 10px;
    box-shadow: 0 0 30px black;
}

.social_ic > li {
    padding-left: 2px;
    transition: all 0.3s ease-in 0s;
}

.social_ic_1 {
    margin-top: 10px;
    text-align: right;
}

p {
    text-align: center;
    font-size: 17px;
    padding-top: 30px;
    font-style: italic;
    max-width: 100%;
}

.subscribe_form {
    margin-top: 10px;
}

.controls {
    margin-top: 10px;
}

.subscribe_form_1,
.btn {
    background-color: transparent;
    border: 3px solid red;
    /*width: 350px;*/
    width: 90%;
    font-size: 20px;
    margin-left: 5%;
    color: azure;
    padding-left: 6px;
}

.subscribe_form_1:focus {
    box-shadow: 0 0 10px red;
}

.btn {
    background: red;
    opacity: 0.5;
    border: 3px solid red;
    transition: all 0.3s ease-in 0s;
}

.btn:hover {
    background: red;
    opacity: 1.0;
    transition: all 0.3s ease-out 0s;
    color: whitesmoke;
}

.nav-stacked > li > a {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: azure
}

.nav-stacked > li > a:hover {
    background-color: black;
    opacity: 0.5;
}

@media only screen and (max-width: 400px) {
    .brand_name {
        font-size: 30px;
    }
    .menu {
        background: black;
    }
    .welcome_text {
        font-size: 25px;
    }
    p {
        font-size: 11px;
        padding-top: 40px;
        font-style: italic;
    }
    .subscribe_form_1 {
        background-color: transparent;
        border: 3px solid red;
        width: 270px;
        font-size: 20px;
    }
    .social_ic {
        padding-top: 20px;
        margin: 0 auto;
        float: left;
    }
}

@media only screen and (max-width: 767px) {
    .menu {
        background: black;
    }
}

@media only screen and (max-width: 992px) {
    .social_ic {
        padding-top: 3%;
        float: none;
    }
    .social_ic > li > a > img {
        width: 70%;
        margin: auto;
    }
    .nav-stacked {
        border: 0 1 1 0;
        margin: 7px 0px 7px 0px;
        border-top: 1px solid aqua;
        border-bottom: 1px solid aqua;
    }
    .social_ic_1 {

        text-align: center;
    }
}
